IDP_BASE_URL=https://idp.amtgard.com
IDP_CLIENT_ID=your-registered-client-id
IDP_CLIENT_SECRET=your-confidential-client-secret
IDP_REDIRECT_URI=http://localhost:38080/oauth/callback
IDP_HTTP_USER_AGENT="amtgard-idp-slim-example/1.0 (amtgard-idp-php-client/1.0)"
EXAMPLE_POLICY_REQUIREMENT=Idp:0:0:0:0:IDP/EditClient
